# All the checks executed by clang-tidy
Checks: 'clang-analyzer-*, performance-*, readability-*, modernize-*, bugprone-*, openmp-*, google-readability-casting, llvm-namespace-comment, misc-redundant-expression, cppcoreguidelines-macro-usage, -modernize-use-trailing-return-type, -readability-identifier-length, -readability-magic-numbers, -bugprone-easily-swappable-parameters'

# If we want to use specific Warnings as Errors they are to be added here
WarningsAsErrors: ""

# So we can get colored output while using make, might have to change this later if we have problems with log files 
UseColor: True

# Use .clang-format file as basis for formatting checks
FormatStyle: file

HeaderFilterRegex: "include/*"

# Styling Options
CheckOptions:
    readability-identifier-naming.ClassCase: CamelCase
    readability-identifier-naming.ConstantCase: UPPER_CASE
    readability-identifier-naming.ConstantParameterCase: lower_case
    readability-identifier-naming.EnumCase: CamelCase
    readability-identifier-naming.FunctionCase: camelBack
    readability-identifier-naming.LocalConstantCase: lower_case
    readability-identifier-naming.LocalVariableCase: lower_case
    readability-identifier-naming.MemberCase: lower_case
    readability-identifier-naming.NamespaceCase: lower_case
    portability-restrict-system-includes.Includes: '*'
