# All the checks executed by clang-tidy
Checks: > 
    # Basic LLVM style checks
    clang-analyzer-*, 
    performance-*, 
    readability-*, 
    modernize-*, 
    bugprone-*, 
    # OpenMP Checks for later weeks
    openmp-*, 
    # Specific Style and misc checks
    google-readability-casting, 
    misc-definitions-in-headers, 
    llvm-namespace-comment,
    misc-redundant-expression,
    cppcoreguidelines-macro-usage,
    -modernize-use-trailing-return-type

# If we want to use specific Warnings as Errors they are to be added here
WarningsAsErrors: ""

# So we can get colored output while using make, might have to change this later if we have problems with log files 
UseColor: True

# Use .clang-format file as basis for formatting checks
FormatStyle: file

# Styling Options
CheckOptions:
    readability-identifier-naming.ClassCase: CamelCase
    readability-identifier-naming.ConstantCase: UPPER_CASE
    readability-identifier-naming.EnumCase: CamelCase
    readability-identifier-naming.FunctionCase: camelBack
    readability-identifier-naming.LocalVariableCase: camelBack
    readability-identifier-naming.MemberCase: camelBack
    readability-identifier-naming.NamespaceCase: lower_case
    portability-restrict-system-includes.Includes: '*'
